@font-face {
  font-family: '諧靈附體';
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/AllPunType-ExtraLight.otf);
}

@font-face {
  font-family: '諧靈附體';
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/AllPunType-Light.otf);
}

@font-face {
  font-family: '諧靈附體';
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/AllPunType-Regular.otf);
}

@font-face {
  font-family: '諧靈附體';
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/AllPunType-Medium.otf);
}

@font-face {
  font-family: '諧靈附體';
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/AllPunType-SemiBold.otf);
}

@font-face {
  font-family: '諧靈附體';
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/AllPunType-Bold.otf);
}

@font-face {
  font-family: '諧靈附體';
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/AllPunType-Heavy.otf);
}
